@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* css styles */

/* Navbar */
.navbar{
  background: #fff;
}
.navbar a {
  color: rgb(208, 234, 209);
}
.navbar a:hover {
  color:  #04e104;
}
.navbar-nav .nav-link.active {
  color: #228B22;
}
.navbar .quarto-navbar-tools .quarto-navigation-tool {
  color: rgb(208, 234, 209);
}
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  color: rgb(208, 234, 209);
}

/* Sidebar */
.sidebar nav[role=doc-toc] ul>li>a {
  color: rgb(208, 234, 209) !important;
}
.sidebar nav[role=doc-toc] ul>li>a:hover {
  color: #04e104 !important;
}
.sidebar nav[role=doc-toc] ul>li>a.active {
  color: #228B22 !important;
}

/* Tabs */
.tab-content {
  border-left: #fff;
  border-right: #fff;
  border-top: #fff;
  border-bottom: #fff;
}
.nav a {
  color: #D8BFD8;
}
.nav a:hover {
  color: #FF1493;
}

/* Fonts */
body {
  font-size: 14px;
  font-family: 'Space Mono';
  font-weight: 400;
  color: #696969;
}
/* Underline links */
a {
  color: #228B22;
  text-decoration: underline dotted rgb(208, 234, 209);
}
h1 {
  font-family: 'Space Mono';
  color: black;
}
h2 {
  font-family: 'Space Mono';
  color: black;
}
h3 {
  font-family: 'Space Mono';
  color: black;
}
.dropdown-item {
  font-size: 13px;
}